/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  font-size: 62.5%;
}

/**********************************/
/* General resuable component */
/**********************************/
.heading-primary {
  font-weight: 700;
  color: #333333;
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-full:link,
.btn-full:visited {
  background-color: rgb(235, 152, 78);
  color: rgb(255, 255, 255);
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
/**********************************/
/* HEADER */
/**********************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  background-color: #fdf2e9;
}
.logo {
  height: 2.2rem;
}
/**********************************/
/* navigation section */
/**********************************/
.main-nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-btn:link,
.main-nav-link.nav-btn:visited {
  color: #fff;
  border-radius: 9px;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-btn:hover,
.main-nav-link.nav-btn:active {
  background-color: #cf711f;
}

/**********************************/
/* hero section */
/**********************************/

.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-description {
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
